*.gem
.bundle
.sass-cache
_site

.jekyll-cache/
.DS_Store
assets/pdfs/.DS_Store
assets/.DS_Store
.DS_Store
assets/pdfs/curriculum_vitae/Ronghao_Zhang_Curriculum_Vitae.fdb_latexmk
assets/pdfs/curriculum_vitae/Ronghao_Zhang_Curriculum_Vitae.fls
assets/pdfs/curriculum_vitae/Ronghao_Zhang_Curriculum_Vitae.log
assets/pdfs/curriculum_vitae/Ronghao_Zhang_Curriculum_Vitae.synctex.gz
.DS_Store
assets/.DS_Store
assets/pdfs/.DS_Store
assets/pdfs/curriculum_vitae/.DS_Store
assets/pdfs/curriculum_vitae/.DS_Store
assets/pdfs/curriculum_vitae/.Rhistory
assets/pdfs/curriculum_vitae/Ronghao_Zhang_Curriculum_Vitae.aux
.DS_Store
assets/pdfs/curriculum_vitae/Ronghao_Zhang_Curriculum_Vitae.out
assets/pdfs/curriculum_vitae/Ronghao_Zhang_Curriculum_Vitae.log
