<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="b64RyUWyyT-un4lBQZ2_rzvsSXXtWfucnTMiVRDv1jg" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Pixel Code for https://app.watchthem.live/ -->
  <script defer src="https://app.watchthem.live/pixel/sF9JwBbyAXsopg4Z"></script>
  <!-- END Pixel Code -->
  
  {% include favicon.html %}

  {% include scripts/jquery.html %}

  <!-- Fonts & Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@{{ site.fontawesome.version }}/css/all.min.css" integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  {% seo %}
</head>