@use "../base/variable" as vars;

#honors {
    position: relative;
    overflow: hidden;
    .honors-wrap {
      @extend %page-padding;
      padding-top: 50px!important;
      margin-bottom: 55px;
      p.title {
        padding-left: 10px;
        padding-bottom: 10px;
        color: vars.$theme-dark;
        font-size: 25px;
        font-weight: 600;
      }
    }
    .honor-list {
      margin-top: 1rem;
    }
    ul.meta {
      margin-left: -20px;
      list-style-position: inside;
      position: relative;
      padding: 0px 0px 15px 30px;
      p {
        line-height: 1rem;
      }
      .date {
        font-weight: 600;
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.5);
      }
      .description {
        font-style: normal;
        font-size: 1rem;
      }
      b.award-name {
        color: rgba(0, 0, 0, 0.65);
      }
      em.organization {
        color: vars.$theme-color;
      }
    }
    .bg {
        content: "";
        z-index: -99;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.05);
      }
  }