---
layout: page
title: Photography
---

<div id="photography">
  <section class="bg"></section>
  <h1 class="title">{{ page.title }}</h1>

  <!-- Category Filter Links -->
  <ul class="tag-cloud">
    {% assign categories = site.data.gallery | map: "picture" | map: "category" | uniq | sort %}
    {% for cat in categories %}
      <a href="#{{ cat | slugify }}">
        <li class="tag" style="background-color: rgb(210, 210, 210)">
          {{ cat | capitalize }}
          <span class="meta">
            {{ site.data.gallery | where: "picture.category", cat | size }}
          </span>
        </li>
      </a>
    {% endfor %}
  </ul>

  <!-- Grouped Gallery by Category -->
  <!-- Grouped Gallery by Category -->
  <div class="tag-groups">
    {% for cat in categories %}
    <div class="tag-group">
      <h4 id="{{ cat | slugify }}" class="title">{{ cat | capitalize }}</h4>
      <div class="items gallery">
        {% for item in site.data.gallery %}
          {% assign photo = item.picture %}
          {% if photo.category == cat %}
          <div class="photo-card" data-category="{{ photo.category }}">
            <div class="img-wrapper">
              <img src="{{ photo.url }}" alt="{{ photo.title }}">
              <div class="info-overlay">
                <p><strong>{{ photo.title }}</strong></p>
                {% if photo.date %}
                  <p>{{ photo.date }}</p>
                {% endif %}
                <p>{{ photo.location }}</p>
                <p class="meta">
                  {% if photo.device %}{{ photo.device }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                  {% if photo.aperture %}{{ photo.aperture }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                  {% if photo.exposure %}{{ photo.exposure }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                  {% if photo.iso %}ISO{{ photo.iso }}{% endif %}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Add "Back to Top" button here -->
      <div class="go-top-wrapper">
        <a class="go-top-btn" href="#photography">↑ Back to Top</a>
      </div>

    </div>
    {% endfor %}
  </div>



</div>
