$theme-bright: #D7CBBF; 
$theme-color: #AB998F;
$theme-dark:  #5D7597;
$theme-dark2: #2f568d;

// $theme-color: #95c1b7;
// $theme-bright: #95c1b7; 
// $theme-dark:  #7998c2;
// $theme-dark2: #9d95c1;

$text : #000000cc;
$text-gray : #0000008a;
$divider-color : #e7e9ee;
$background-gray : #0000000d;

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
