$theme-color : #e49d9d;
$theme-bright : #e49d9d;
$theme-dark : #88a0c0;
$theme-dark2 : #1d5575;
$text : #000000cc;
$text-gray : #0000008a;
$divider-color : #e7e9ee;
$background-gray : #0000000d;

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
