$theme-color: #95c1b7;// #95c1a7;// #658398;
$theme-bright: #95c1b7; //  #658398;
$theme-dark:  #7998c2;//#8199b8;// #2b313f;
$theme-dark2: #7998c2;// #8199b8;// #2b313f
;
$text : #000000cc;
$text-gray : #0000008a;
$divider-color : #e7e9ee;
$background-gray : #0000000d;

%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
